<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
    <pipelines>
      <forecastTestDuration>
        <processor type="Sitecore.ContentTesting.Intelligence.Pipelines.ForecastTestDuration.Duration, Sitecore.ContentTesting.Intelligence" set:type="Sitecore.Support.ContentTesting.Intelligence.Pipelines.ForecastTestDuration.Duration, Sitecore.Support.328114.328119" />
      </forecastTestDuration>
    </pipelines>
  </sitecore>
</configuration>